@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@font-face {
    font-family: "Roboto";
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap);
}

/* Roots */
:root {
    --primary-color:#05128A;
}
:root {
    --secondary-color:#8c93d9;
}
:root {
    --accent1-color:#FFFFFF;
}
:root {
    --accent2-color:#C4CAFD;
}
:root {
    --heading-font: 'Inconsolata', monospace, serif;
}
:root {
    --paragraph-font: 'Inconsolata', monospace, serif;
}
:root {
    --nav-background-color: #676ea8;
}
:root{
    --nav-link-color: #7BF8EE;
}
:root {
    --nav-hover-link-color: #7BF8EE;
}
:root {
    --nav-hover-background-color: #8994FB;
}

html {
    background-color: #e4e4e4;
}
header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    max-width: 1500px;
    padding: 20px;
    background-color: var(--secondary-color);
    font-size: 25px;
}

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

nav {
	text-align: center;
}

.navigation a {
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}

main {
    font-family: var(--paragraph-font);
    font-size: 20px;
    align-items: center;
    padding: 50px;
}

.employees {
    background-color:#92938f;
    margin: 1rem auto;
    max-width: 1300px;
    padding: 20px;
}

.place-info {
    background-color:#cdcdcd;
    margin: 1rem;
    max-width: 400px;
    max-height: 150px;
    padding: 20px;
}

.happy-employee1 {
    display: grid;
    grid-template-columns: 250px 1fr;
    align-items: center;
    max-width: 1500px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.happy-employee2 {
    display: grid;
    grid-template-columns: 250px 1fr;
    align-items: center;
    max-width: 1500px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.happy-employee3 {
    display: grid;
    grid-template-columns: 250px 1fr;
    align-items: center;
    max-width: 1500px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

form {
    width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 1rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.5em;
}

label {
    text-align: left;
    padding-right: 1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgreen;
}

footer {
    background-color: #6f7364;
    padding: 25px 50px;
    margin-top: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

footer img {
    width: 4%;
    height: auto;
}

.form-item {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    margin: 0.5rem 0;
}

.sociallinks { 
    font-size: 20px;
    align-self: center;
}