@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@font-face {
    font-family: "Roboto";
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap);
}

/* Roots */
:root {
    --primary-color:#05128A;
}
:root {
    --secondary-color:#8c93d9;
}
:root {
    --accent1-color:#FFFFFF;
}
:root {
    --accent2-color:#C4CAFD;
}
:root {
    --heading-font: 'Inconsolata', monospace, serif;
}
:root {
    --paragraph-font: 'Inconsolata', monospace, serif;
}
:root {
    --nav-background-color: #676ea8;
}
:root{
    --nav-link-color: #7BF8EE;
}
:root {
    --nav-hover-link-color: #7BF8EE;
}
:root {
    --nav-hover-background-color: #8994FB;
}

html {
    background-color: #e4e4e4;
}
header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    max-width: 1500px;
    padding: 20px;
    background-color: var(--secondary-color);
    font-size: 25px;
}

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

nav {
	text-align: center;
}

.navigation a {
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}

main {
    font-family: var(--paragraph-font);
    font-size: 20px;
    align-items: center;
    padding: 20px;
}

.hero h1 p {
    font-family: var(--paragraph-font);
    font-size: 45px;
    position: relative;
    padding: 2px;
    border: 2px solid rgb(79 185 227);
    background-color: aliceblue;
    border-radius: 5px;
    text-align: center;
    color: var(--primary-color)
}

div .hero {
    display: grid;
    grid-template-columns: 1fr;
}

.hero img {
    display: block;
    width: 55%;
    height: auto;
}

.hero2 img {
    width: 180%;
    height: auto;
    padding: 100px;
}

article {
    position: absolute;
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    gap: 250px;
    max-width: 1000px;
    padding: px;
}

.hero p {
    text-align: left;
    color: #FFFFFF;
}

h2, h3, h4, h5, h6 {
    font-family: var(--paragraph-font);
    font-size: 20px;
    position: relative;
    color: var(--primary-color)
}

p {
    padding: 25px;
}

div .home-grid {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
}

div img {
    width: 17%;
    height: auto;
}

footer {
    background-color: #6f7364;
    padding: 25px 50px;
    margin-top: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

footer img {
    width: 4%;
    height: auto;
}