@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;900&display=swap');
 
:root { 
    --primary-color:#05128A;
}
.one {
    --secondary-color:#6271F9;
}
.two {
    --accent1-color:#FFFFFF;
}
.three {
    --accent2-color:#C4CAFD;
}
.four {
    --heading-font: 'Inconsolata', monospace, Black 900;
}
.five {
    --paragraph-font: 'Inconsolata', monospace; Regular 400; 
}
.six {
    --nav-background-color: #8994FB;
}
.seven {
    --nav-link-color: #7BF8EE;
}
.eight {
    --nav-hover-link-color: #7BF8EE; 
}
.ten {
    --nav-hover-background-color: #8994FB; 
}

body {
    font-family: 'Inconsolata', monospace;
}

h1 {
    font-family: 'Regular 400';
}