:root {
    --base-color: rgb(120, 120, 175);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer,
.grid {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: var(--base-color);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
}

h1 {
    color: var(--base-color);
    border-bottom: 2px solid black;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    background-color: rgb(50, 50, 185);
    color: white;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: relative;
    top: 20px;
    left: 0px;
}

footer {
    margin-top: 10px;
    border-top: 1px solid black;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: var(--base-color);
    color: white;
}

.grid {
    display: grid;
    align-items: center;
}